*.o
mini-os/arch/x86/libx86_64.a
mini-os/include/mini-os
mini-os/include/x86/mini-os
mini-os/include/xen
mini-os/mini-os
mini-os/mini-os.gz

stub/stub

libjhcrts/*Stub.hs
libjhcrts/*.a
libjhcrts/rts/
libjhcrts/jhc_custom/main_code.c
